### Indexing

In [2]:
import pandas as pd
df = pd.read_csv('admission_predict.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [3]:
# Now we want to have our Chance of Admit column as index
df['Serial number'] = df.index
df = df.set_index('Chance of Admit ') # Here is useful using .strip
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial number
Chance of Admit,,,,,,,,,
0.92,1,337,118,4,4.5,4.5,9.65,1,0
0.76,2,324,107,4,4.0,4.5,8.87,1,1
0.72,3,316,104,3,3.0,3.5,8.00,1,2
0.80,4,322,110,3,3.5,2.5,8.67,1,3
0.65,5,314,103,2,2.0,3.0,8.21,0,4
...,...,...,...,...,...,...,...,...,...
0.82,396,324,110,3,3.5,3.5,9.04,1,395
0.84,397,325,107,3,3.0,3.5,9.11,1,396
0.91,398,330,116,4,5.0,4.5,9.45,1,397
0.67,399,312,103,3,3.5,4.0,8.78,0,398
0.95,400,333,117,4,5.0,4.0,9.66,1,399

In [4]:
# We can use reset index to generate a new column with the original serial Numbers
# and it's going to promote our Chance of Admit to a column
df = df.reset_index()
df

,Chance of Admit,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial number
0,0.92,1,337,118,4,4.5,4.5,9.65,1,0
1,0.76,2,324,107,4,4.0,4.5,8.87,1,1
2,0.72,3,316,104,3,3.0,3.5,8.00,1,2
3,0.80,4,322,110,3,3.5,2.5,8.67,1,3
4,0.65,5,314,103,2,2.0,3.0,8.21,0,4
...,...,...,...,...,...,...,...,...,...,...
395,0.82,396,324,110,3,3.5,3.5,9.04,1,395
396,0.84,397,325,107,3,3.0,3.5,9.11,1,396
397,0.91,398,330,116,4,5.0,4.5,9.45,1,397
398,0.67,399,312,103,3,3.5,4.0,8.78,0,398
399,0.95,400,333,117,4,5.0,4.0,9.66,1,399

---

In [5]:
df = pd.read_csv('census.csv')
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [6]:
# I want to see a list of unique values in SUMLEV column
df['SUMLEV'].unique()

array([40, 50])

In [7]:
# And then, as we could see previously. We can filter by those values
df[df['SUMLEV'] == 50].head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

---

In [8]:
# Similary we can keep specific columns like this
columns_to_keep = [
    'STNAME', 'CTYNAME',
    'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013',
    'BIRTHS2014', 'BIRTHS2015',
    'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
    'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015'
]
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Alabama,14226,59689,59062,57938,58334,58305,4785161,4801108,4816089,4830533,4846411,4858979
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583

Here we are going to set a _multi index_. Notice that we have **several cities in the same state.** For example, we can think it like this:

```python
{
    "Alabama": [
        "Alabama", "Autauga County", "Baldwin County",
        "Barbour Count"," Bibb County", "..."
    ],
    "...": ["..."],
    "Wyoming": [
        "Sweetwater County", "Teton County",
        "Uinta County", "..."
    ],
}

```

So, let's do that for our data.

In [9]:
df = df.set_index(['STNAME', 'CTYNAME'])
df

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Alabama                 14226       59689       59062       57938
        Autauga County            151         636         615         574
        Baldwin County            517        2187        2092        2160
        Barbour County             70         335         300         283
        Bibb County                44         266         245         259
...                               ...         ...         ...         ...
Wyoming Sweetwater County         167         640         595         657
        Teton County               76         259         230         261
        Uinta County               73         324         311         316
        Washakie County            26         108          90          95
        Weston County              26          81          74          93

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Alabama                 58334       58305          4785161
        Autauga County            623         600            54660
        Baldwin County           2186        2240           183193
        Barbour County            260         269            27341
        Bibb County               247         253            22861
...                               ...         ...              ...
Wyoming Sweetwater County         629         620            43593
        Teton County              249         269            21297
        Uinta County              316         316            21102
        Washakie County            96          90             8545
        Weston County              77          79             7181

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Alabama                    4801108          4816089          4830533
        Autauga County               55253            55175            55038
        Baldwin County              186659           190396           195126
        Barbour County               27226            27159            26973
        Bibb County                  22733            22642            22512
...                                    ...              ...              ...
Wyoming Sweetwater County            44041            45104            45162
        Teton County                 21482            21697            22347
        Uinta County                 20912            20989            21022
        Washakie County               8469             8443             8443
        Weston County                 7114             7065             7160

                           POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Alabama                    4846411          4858979
        Autauga County               55290            55347
        Baldwin County              199713           203709
        Barbour County               26815            26489
        Bibb County                  22549            22583
...                                    ...              ...
Wyoming Sweetwater County            44925            44626
        Teton County                 22905            23125
        Uinta County                 20903            20822
        Washakie County               8316             8328
        Weston County                 7185             7234

[3193 rows x 12 columns]

In [10]:
# To query this dataframe now we need to provide the arguments in order by the level we whish to query.
# We want to see the population results from Washtenaw County in Michigan the state
df.loc['Michigan', 'Washtenaw County']

/tmp/ipykernel_1785/3595921936.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc['Michigan', 'Washtenaw County']

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Michigan,Washtenaw County,977,3826,3780,3662,3683,3709,345563,349048,351213,354289,357029,358880

In [11]:
# Here we got a warning explained here
# https://stackoverflow.com/questions/54307300/what-causes-indexing-past-lexsort-depth-warning-in-pandas
# To fix it we have to use .sort_index
df = df.sort_index()
df.loc['Michigan', 'Washtenaw County']

,,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,CTYNAME,,,,,,,,,,,,
Michigan,Washtenaw County,977,3826,3780,3662,3683,3709,345563,349048,351213,354289,357029,358880

In [12]:
# Also we can use .loc tipicaly but passing a tuples for both indexes as first argument
# and in this example we are selecting only two columns as usual
df.loc[
    [
        ('Michigan', 'Washtenaw County'),
        ('Michigan', 'Wayne County')
    ],
    ['BIRTHS2010', 'BIRTHS2011']
]

                           BIRTHS2010  BIRTHS2011
STNAME   CTYNAME
Michigan Washtenaw County         977        3826
         Wayne County            5918       23819

In [14]:
df.loc['Alabama']

,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
CTYNAME,,,,,,,,,,,,
Alabama,14226,59689,59062,57938,58334,58305,4785161,4801108,4816089,4830533,4846411,4858979
Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
...,...,...,...,...,...,...,...,...,...,...,...,...
Tuscaloosa County,560,2405,2450,2399,2444,2463,194977,196638,198543,200615,202519,203976
Walker County,218,814,826,753,774,762,67004,66641,66184,65929,65567,65294
Washington County,41,169,165,159,139,147,17610,17336,17115,16869,16863,16804
Wilcox County,21,142,136,139,131,130,11557,11488,11365,11210,11052,11059
Winston County,59,252,229,250,242,250,24401,24340,24176,24154,24101,23877